### C
# Object files
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out

# Linker output
*.ilk
*.map
*.exp

# Debug files
*.dSYM/
*.idb
*.pdb

### C#
# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.suo
*.user

# Debug symbols
*.pdb

# NuGet Packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# .NET build artifacts
artifacts/

# Publish output
publish/

### Java
# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*
replay_pid*

### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
.claude/CLAUDE.md
.claude/settings.local.json
codeinspect_rules/backup
test_samples
codeinspect_logs
codeinspect_rules
codeinspect_projects.txt
